*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html,body{
    height: 100%;
    width: 100%;
}
/* #main{
    height: 50%;
    width: 80%;
    margin-left: 10%;
    background-image: url(https://media.istockphoto.com/id/1628580367/photo/christmas-background.webp?b=1&s=170667a&w=0&k=20&c=HUXtdh3oB_KQoMOh9PSBkEoa6z_M8yvsosGArlTNrzY=);
}
h1{
    color: white;
    font-size: 40px;
} */